#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
.suspect-card {
  transition: transform 0.3s ease-in-out;
}

.suspect-name {
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.suspect-image {
  max-width: 100%;
  border-radius: 12px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.garden {
  height: 100vh; 
  background-image: url('./assets/mansion.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.diningRoom {
  height: 100vh; 
  background-image: url('./assets/diningRoom.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.kitchen {
  height: 100vh; 
  background-image: url('./assets/kitchen.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.study {
  height: 100vh; 
  background-image: url('./assets/study.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.balcony {
  height: 100vh; 
  background-image: url('./assets/balcony.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.basement {
  height: 100vh; 
  background-image: url('./assets/basement.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.typing-response-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal; /* Allows the text to wrap normally */
  overflow-x: hidden; /* Prevents horizontal overflow */
}
.typing-response-container {
  overflow-x: auto;
}
/* Hide the scrollbar but keep the scroll functionality */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none;      /* For Firefox */
}
